<div>
    {{! post Data }}
    <div class="card px-3">
        <div class="card-body">

    <h3> {{post.title}}</h3>

    <p> {{post.body}}</p>

    <p> {{post.created_at}}</p>

    <p> Created By: {{post.User.username}}</p>

    </div>
    </div>

    <div class="mt-4">
    <h4>Comments</h4>

    {{#if post.comments}}
        <div class="card">
            <div class="card-body">
        {{#each post.comments}}
            <div>
            <p>{{comment_text}}</p>
            Created By
            {{User.username}},
            {{format_date createdAt}}
            </div>
            </div>

        {{/each}}
        </div>
    {{/if}}

    </div>

        {{!comment form}}

        <div class="mt-4">
            <div class="card">
                <div class="card-body">
                <h3>Add Your Comment</h3>
                    <form id="comment-form">
                    <input type="hidden" id="post-id" value="{{post.id}}" />
                    <label class="form-label">
                        Comment
                    <textarea id="comment-text" class="form-control"></textarea>
                </label>
                <div>
                <button type="submit" class="btn btn-primary">Add Comment</button>
        </div>
        </form>
        </div>
</div>
</div>


<script src="/javascript/comment.js"